@import 'fonts'
@import 'variables'
@import 'buttons'
@import 'blocks/header'
@import 'blocks/slider'
@import 'blocks/services'
@import 'blocks/about'
@import 'blocks/consultation'

body, html
  font-family: 'Roboto', sans-serif
  font-weight: 400

section
  .section
    &-header
      display: flex
      flex-direction: row
      justify-content: flex-start
      align-items: center
      &__line
        align-self: start
        width: 106px
        height: 2px
        background-color: $main-color
        margin-right: 33px
        margin-top: 9px
      &__title
        color: #212020
        font-size: 24px
        font-weight: 500
        line-height: 24px
        margin-bottom: 14px
      &__descr
        max-width: 380px
        color: #5e5e5e
        font-family: 'PT Serif'
        font-size: 14px
        font-weight: 400
        line-height: 18px
        letter-spacing: 0.14px


.container
  position: relative
  margin: 0 auto
  max-width: 1170px
  padding: 0 15px

ul
  margin-bottom: 0
  