@import 'fonts'
@import 'variables'
@import 'buttons'
@import 'blocks/header'

body, html
  font-family: Roboto, sans-serif
  font-weight: 400

.container
  position: relative
  margin: 0 auto
  width: 1170px
  padding: 0 15px

ul
  margin-bottom: 0
  